:root {
    --notepad-default-color: hsl(185, 61%, 66%);
    --notepad-default-color-less:hsl(185, 31%, 86%);
    --notepad-default-textColor: hsl(185, 15%, 20%);
    --content-padding:0.2rem;
    --noteBoxShadow:0px 2px 4px 0px rgba(0,0,0,0.2);
}
section {
    /* shape */
    width: 100%;
    height: 100%;

    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* style */
    background-color: var(--color-secondary);
    background-image: url("./img/notesAppBackground.png");
}
#notesContainer {
    /* shape */
    width: 100%;
    height: 100%;

    /* flex */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* style */
    
}



.notepad {
    /* shape */
    width: 15rem;
    height: 10rem;

    margin: 1rem;

    /* style */
    background-color: var(--notepad-default-color);
    
    box-shadow: var(--noteBoxShadow);
}

.titleIn {
    /* shape */
    width:calc(100% - 2 * var(--content-padding));
    height: 15%;
    margin: 0;
    padding: var(--content-padding);

    /* style */
    border:none;

    background-color: hsla(0,0%,100%,.5);
    color: var(--notepad-default-textColor);
    font-weight: 600;
}

.titleIn:focus, .titleIn:active {
    
    /* shape */
    margin: 0;
    padding:var(--content-padding);

    /* style */
    border:none;
    outline: none;
    
    background-color: hsla(0,0%,100%,.5);
}


.content {
    /* shape */
    width: 100%;
    height: 60%;

    margin: 0;
    padding: var(--content-padding);
    

    /* style */
    border:none;
    outline: none;
    background-color: hsla(0,0%,0%,0);
    resize: none;

    color: var(--notepad-default-textColor);
}

.content:focus, .content:active {
    
    /* shape */
    width: 100%;
    height: 60%;
    margin: 0;
    padding: var(--content-padding);

    /* style */
    border:none;
    border-radius: 0;
    outline: none;
    background-color: hsla(0,0%,0%,0);
}

.delButton {
    /* shape */
    width: 25%;
    height: 15%;

    /* style */
    border: 0;
    background-color: hsla(0, 0%, 100%, .5);

}
.delButton:active {
    width: calc(25% -1%);
    height: calc(15% -1%);
    background-color: hsla(0, 0%, 100%, .1);
}